{% extends 'base.html.twig' %}

{% block title %}Hello SellerController!{% endblock %}

{% block body %}
    <div class="aroundSeller">
        <h1>Seller index</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Duration</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for seller in sellers %}
                <tr>
                    <td>{{ seller.id }}</td>
                    <td>{{ seller.title }}</td>
                    <td>{{ seller.duration }}</td>
                    <td><a class="btn btn-primary"
                           href="{{ path('app_seller_show', {'id': seller.id}) }}">Show</a>
                        <a class="btn btn-warning"
                           href="{{ path('app_seller_edit', {'id': seller.id}) }}">Edit</a>
                        <a class="btn btn-info"
                           href="{{ path('app_seller_booking', {'id': seller.id}) }}">Booking</a>

                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-success" href="{{ path('app_seller_new') }}">Create new</a>
    </div>
{% endblock %}
